---
layout: page
title: "About"
description: "Hey, this is iMaple."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英文 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        <p><em>心无旁骛，方可处变不惊</em></p>
    </blockquote>
    <h4 id="-">关于 林鉴伟</h4>
    <p><img style="display:inline-block;" src="http://o83pigran.bkt.clouddn.com/16-6-2/28409409.jpg" data-original-src="http://o83pigran.bkt.clouddn.com/16-6-2/28409409.jpg">91年屌丝前端开发一枚，</p>
    <p>毕业于 2014年 - <a href="http://baike.baidu.com/subview/1531218/1531218.htm" target="_blank">仲恺农业工程学院</a> - 计算科学学院 - 信息与计算科学（软件工程）专业</p>
    <p>典型的潮汕人（汕头市潮阳区棉城镇，我们这的特产是 <a href="http://baike.baidu.com/subview/771144/771144.htm" target="_blank">鲎粿</a>，可好吃了我的天呐~）</p>
    <p>爱好：讲黄段子，讲黄段子，讲黄段子（重要的黄段子要讲三遍）<img style="display:inline-block;" src="http://o83pigran.bkt.clouddn.com/16-6-2/46804377.jpg" data-original-src="http://o83pigran.bkt.clouddn.com/16-6-2/46804377.jpg"></p>
    <h4 id="-">博客用途：</h4>
    <p>记录生活点滴、总结工作中碰到的问题及解决方法、写写黄段子（哈哈哈哈，一个不懂黄段子的前端开发绝对不是一个好司机）</p>
    <h4 id="-">联系方式：</h4>
    <p>手机：15876520582
        <br>Q Q：764915052
        <br>email：linjianwei@imaple.net / 764915052@qq.com
        <br></p><p>（<img style="display:inline-block;" src="http://o83pigran.bkt.clouddn.com/16-6-2/81718906.jpg" data-original-src="http://o83pigran.bkt.clouddn.com/16-6-2/81718906.jpg">欢迎骚扰~）</p>
    <h4 id="-">附：</h4>
    <p>域名含义：maple 是我媳妇儿的英文名，所以，嘿嘿，你懂的~<img style="display:inline-block;" src="http://o83pigran.bkt.clouddn.com/16-6-2/84315272.jpg" data-original-src="http://o83pigran.bkt.clouddn.com/16-6-2/84315272.jpg"></p>
</div>

<!-- English Version -->
<div class="en post-container">

    imaple

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    // get nodes
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    var $select = document.querySelector("select");

    // bind hashchange event
    window.addEventListener('hashchange', _render);

    // handle render
    function _render(){
        var _hash = window.location.hash;
        // en
        if(_hash == "#en"){
            $select.selectedIndex = 1;
            $en.style.display = "block";
            $zh.style.display = "none";
        // zh by default
        }else{
            // not trigger onChange, otherwise cause a loop call.
            $select.selectedIndex = 0;
            $zh.style.display = "block";
            $en.style.display = "none";
        }
    }

    // handle select change
    function onLanChange(index){
        if(index == 0){
            window.location.hash = "#zh"
        }else{
            window.location.hash = "#en"
        }
    }

    // init
    _render();
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = '{{site.duoshuo_username}}';

    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
